.img-bg-1 {
    background-image: url(/src/assets/images/img_bg_1.jpg);
}

.img-bg-2 {
    background-image: url(/src/assets/images/img_bg_2.jpg);
}

.img-bg-3 {
    background-image: url(/src/assets/images/img_bg_3.jpg);
}

.img-bg-4 {
    background-image: url(/src/assets/images/img_bg_4.jpg);
}

.logo {
    height: 42px;
    cursor: pointer;
}